<div class="about">
    <img src="./../../assets/img/avatar.jpeg" alt="avatar">
    <div class=about__description>
        <h3>PRO</h3>
        <ul>
            <li>HTML</li>
            <li>CSS/LESS/SASS</li>
            <li>JS</li>
            <li>ANGULAR</li>
            <li>ANGULAR.JS</li>
            <li>(REACT, REACT NATIVE)</li>
        </ul>
        <h3>EXPERIENCE</h3>
        <ul>
            <li>2016-2018: Ace Solutions B.V.</li>
            <li>2018-NOW: Internal Projects Inc</li>
        </ul>
        <h3>HOBBIES & INTERESTS</h3>
        <ul>
            <li>CROSSFIT</li>
            <li>TRAVELING</li>
            <li>GRAFIC (AFTER EFFECTS)</li>
            <li>POKER</li>
            <li>HISTORY</li>
            <li>POLITICS</li>
        </ul>
        <H3>SOCIAL</H3>
        <ul>
            <li><a href="https://www.linkedin.com/in/oleg-mykhailov-990779159/">LINKEDIN</a></li>
            <li><a href="https://github.com/OMGSailorJerry">GITHUB</a></li>
            <li><a href="https://www.facebook.com/OMGOlegMykhailov">FACEBOOK</a></li>
            <li><a href="https://www.instagram.com/_dotherightthing/">INSTAGRAM</a></li>
        </ul>
    </div>
</div>
