.btn {
    min-height: 64px;
    border-radius: 0;
    border: 10px solid #000;
    cursor: pointer;
    position: relative;

    &:before {
        position: absolute;
        content: '';
        top: -2px;
        right: -15px;
        bottom: -15px;
        left: -2px;
        background-color: #000;
        z-index: -1;
    }

    //.btn_small
    &_small {
        min-height: 32px;
        border-width: 6px;
        
        &:before {
            top: 0px;
            right: -10px;
            bottom: -10px;
            left: 0px;
        }
    }
}

.map {
    //.map__screen
    &__screen {
        height: 87vh !important;
        border: 5px solid #000;
        position: relative;
    }

    //.map__controls
    &__controls {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        max-width: 320px;

        //.map__controls_top
        &_top {
            display: flex;
            flex-direction: row;
            gap: 8px;
            // justify-content: space-between;
            // font-size: 0;
            // width: 90%;

            & .btn {
                width: 100%;
                font-weight: bold;
                
                & + .btn {
                    // margin-top: 16px;
                }
            }
        }

        &_mid {
            margin-top: 32px;
            & .btn {
                width: 100%;
                font-weight: bold;
                
                & + .btn {
                    margin-top: 16px;
                }
            }
        }

        //.map__controls_bottom
        &_bottom {
            margin-top: auto;
            display: flex;
            flex-direction: row-reverse;
            gap: 32px;
            // padding: 10px;
            // width: 10%;
            // flex-direction: column;
            // box-sizing: border-box;

            & .btn {
                width: 100%;
                font-size: 30px;
                font-weight: bold;

                & + .btn {
                    margin-top: 32px;
                }
            }
        }

        //.map__controls_left
        &_left {

        }

        //.map__controls_right
        &_right {

        }
    }

    //.map__header
    &__header {
        padding: 20px;
    }

    //.map__main
    &__main {
        display: flex;
        padding: 20px;
    }
}
